<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Barcode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Click To Scan</h1>

  <ion-button color="primary" (click)="scanCode()">Scan Code</ion-button>

  <div *ngIf="scannedData">
    <p>Barcode: <b>{{ scannedData["text"] }} - {{ scannedData["format"] }}</b></p><br /><br />

    <p>
      Name: <b>{{ prodData.description }}</b><br />
      Price: <b>{{ prodData.price }}</b><br /><br />
    </p>
  </div>
</ion-content>